@model IEnumerable<BuildingShop.Domain.DomainObjects.ShopCartItem>


<table class="table">
    <thead>
        <tr>
            <th>
                Назва
            </th>
            <th>
                Кількість
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
        </tr>
}
    </tbody>
</table>


<a class="btn btn-dark" asp-action="Buy">Придбати</a>