@{
    ViewData["Title"] = "Home Page";
}

@using BuildingShop.Domain.DomainObjects;
@model IEnumerable<Product> 

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<div class="container">
    <div class="row mt-5 mb-2">
        @{
            foreach (var product in Model)
            {
                <div class="col-lg-3">
                    <h2>@product.Name</h2>
                    <p>Ціна: @product.Price</p>
                    <p>Наявна кількість: @product.Amount</p>
                    <p>Категорія: @product.Category</p>
                </div>
            }
        }
    </div>
</div>
