@model BuildingShop.Domain.DomainObjects.Order

<h1>Редагування</h1>
<hr />
<dt class="col-sm-2">
    Id продукту
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.Product.Id)
</dd>
<dt class="col-sm-2">
    Найменування
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.Product.Name)
</dd>
<dt class="col-sm-2">
    Початкова дата
</dt>
<dd class="col-sm-10">
    @Convert.ToDateTime(Model.StarDate).ToString("dd/MM/yyyy")
</dd>
<dt class="col-sm-2">
    Кінцева дата
</dt>
<dd class="col-sm-10">
    @Convert.ToDateTime(Model.EndDate).ToString("dd/MM/yyyy")
</dd>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <input type="hidden" asp-for="ProductId" />
            <input type="hidden" asp-for="StartDate" />
            <input type="hidden" asp-for="EndDate" />
            <input type="hidden" asp-for="StartingAmount" />
            <input type="hidden" asp-for="EndAmount" />
            <input type="hidden" asp-for="TotalIncome" />
            <input type="hidden" asp-for="TotalOutcome" />
            <input type="hidden" asp-for="DaysWithoutProduct" />
            <input type="hidden" asp-for="AverageSalesPerDay" />
            <input type="hidden" asp-for="MinSalePerDay" />
            <div class="form-group">
                <label asp-for="FinalNumber" class="control-label">Кінцева заявка</label>
                <input asp-for="FinalNumber" class="form-control" />
                <span asp-validation-for="FinalNumber" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <input type="submit" value="Зберегти" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Повернутися до списку</a>
</div>

