
    <div class="btn-group-vertical">
        <div class="mb-2">
            <a class="btn btn-dark" asp-action="Create" asp-controller="Order">Сформувати нову заявку</a>
        </div>
        <div class="mb-2">
            <a class="btn btn-dark" asp-action="Index" asp-controller="Order">Переглянути заявки</a>
        </div>
        <div class="mb-2">
            <a class="btn btn-dark" asp-action="Index" asp-controller="Products">Керування товаром</a>
        </div>
    </div>